Example/NodeRed/nodered_flow.json
[{"id":"db3af72a5ce35539","type":"tab","label":"Alina","disabled":false,"info":""},{"id":"9da688480225490a","type":"inject","z":"db3af72a5ce35539","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["9a7ad6c9f39f8993"]]},{"id":"c60563110b1f9f59","type":"debug","z":"db3af72a5ce35539","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":260,"wires":[]},{"id":"9a7ad6c9f39f8993","type":"function","z":"db3af72a5ce35539","name":"","func":"var dev_id = \"<DEV_ID>\";\nvar api_key = \"<API_KEY>\";\nvar stream_name = \"<STREAM_NAME>\";\n\nvar dev_url = \"http://localhost:1616/api/\";\nvar stream = \"meters\";\n\nvar data = {\"value\": 30};\n\nvar msg = {\n\t\"method\" : \"GET\",\n\t\"url\" : dev_url + stream,\n\t\"headers\" : {\n\t\t\"Content-Type\": \"application/json\"\n\t},\n\t\"payload\" : JSON.stringify(data)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":300,"wires":[["39749381abb7b735"]]},{"id":"39749381abb7b735","type":"http request","z":"db3af72a5ce35539","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":300,"wires":[["c60563110b1f9f59"]]},{"id":"971e8191b9526463","type":"inject","z":"db3af72a5ce35539","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":600,"wires":[["505a232b3e35d83d"]]},{"id":"a57c5bfa14c0cf2e","type":"debug","z":"db3af72a5ce35539","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":600,"wires":[]},{"id":"505a232b3e35d83d","type":"function","z":"db3af72a5ce35539","name":"","func":"\nvar param = \"125354ppp\";\n\nvar dev_url = \"http://localhost:1616/api/\";\nvar path = \"createMeter?serial=\";\n\nvar data = {\"value\": 30};\n\nvar msg = {\n\t\"method\" : \"POST\",\n\t\"url\" : dev_url + path + param,\n\t\"headers\" : {\n\t\t\"Content-Type\": \"application/json\"\n\t},\n\t\"payload\" : JSON.stringify(data)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":600,"wires":[["5fedc20edb0df3bc"]]},{"id":"5fedc20edb0df3bc","type":"http request","z":"db3af72a5ce35539","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":600,"wires":[["a57c5bfa14c0cf2e"]]},{"id":"3af2621f513ea4fc","type":"comment","z":"db3af72a5ce35539","name":"GET METERS","info":"","x":320,"y":220,"wires":[]},{"id":"626ce82c3d3198f5","type":"comment","z":"db3af72a5ce35539","name":"CREATE METER","info":"","x":360,"y":520,"wires":[]},{"id":"0d9aab4c3034d9b8","type":"debug","z":"db3af72a5ce35539","name":"HTTP RESPONSE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":920,"wires":[]},{"id":"a929efa3dde33b3b","type":"function","z":"db3af72a5ce35539","name":"","func":"\nvar dev_url = \"http://192.168.100.2:3030/api/\";\nvar path = \"newMeasure\";\nvar data_m = flow.get(\"data\");\nvar data = {\n    \"idMeter\": 2,\n    \"cumulativeFlow\": 1,\n    \"currentFlowRate\": 1,\n    \"temperature\": 11,\n    \"secondTime\": 1,\n    \"minuteTime\": 1,\n    \"hourTime\": 1,\n    \"dayTime\": 1,\n    \"monthTime\": 13,\n    \"yearTime\": 2021,\n    \"statusWord\": 1111,\n    \"freeSpace\": 1111111,\n    \"countData\": 1,\n    \"timeData\": \"2021-08-01 16:42:16.509521+00:00\"\n};\n\nvar msg = {\n\t\"method\" : \"POST\",\n\t\"url\" : dev_url + path,\n\t\"headers\" : {\n\t\t\"Content-Type\": \"application/json\"\n\t},\n\t\"payload\" : JSON.stringify(data_m)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":960,"wires":[["25de40908312e186"]]},{"id":"25de40908312e186","type":"http request","z":"db3af72a5ce35539","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":960,"wires":[["0d9aab4c3034d9b8","800f7ce9e2c9edbe"]]},{"id":"2e95ce3d05d91c0d","type":"comment","z":"db3af72a5ce35539","name":"ADD MEASURE","info":"","x":700,"y":880,"wires":[]},{"id":"0c3e1bf12ebc0ae7","type":"inject","z":"db3af72a5ce35539","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1260,"wires":[["80152205fef5d078"]]},{"id":"2877a8ebe1aeec77","type":"debug","z":"db3af72a5ce35539","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":1260,"wires":[]},{"id":"80152205fef5d078","type":"function","z":"db3af72a5ce35539","name":"","func":"\nvar dev_url = \"http://192.168.100.2:3030/api/\";\nvar path = \"dev/measure?id=\";\nvar param = \"2\"\nvar data = {\"value\": 30};\n\nvar msg = {\n\t\"method\" : \"GET\",\n\t\"url\" : dev_url + path + param,\n\t\"headers\" : {\n\t\t\"Content-Type\": \"application/json\"\n\t},\n\t\"payload\" : JSON.stringify(data)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1260,"wires":[["9831a5081d357469"]]},{"id":"9831a5081d357469","type":"http request","z":"db3af72a5ce35539","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":1260,"wires":[["2877a8ebe1aeec77"]]},{"id":"eae64a81c031a3a9","type":"comment","z":"db3af72a5ce35539","name":"GET MEASURE","info":"","x":160,"y":1200,"wires":[]},{"id":"d2ce820e5d8b905b","type":"mqtt in","z":"db3af72a5ce35539","name":"Measures of Device #01","topic":"meter/device/01","qos":"0","datatype":"utf8","broker":"acf4fb44.457268","nl":false,"rap":false,"x":110,"y":1020,"wires":[["632957c29ae62294"]]},{"id":"482d1b3973d43e24","type":"function","z":"db3af72a5ce35539","name":"Set Mode Variable","func":"flow.set(\"data\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":960,"wires":[["a929efa3dde33b3b"]]},{"id":"800f7ce9e2c9edbe","type":"mqtt out","z":"db3af72a5ce35539","name":"Result","topic":"measure/device/01","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"acf4fb44.457268","x":1130,"y":980,"wires":[]},{"id":"94db75ce62c0da61","type":"debug","z":"db3af72a5ce35539","name":"DATA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1140,"wires":[]},{"id":"632957c29ae62294","type":"json","z":"db3af72a5ce35539","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":1020,"wires":[["482d1b3973d43e24","94db75ce62c0da61"]]},{"id":"acf4fb44.457268","type":"mqtt-broker","name":"MQTT client on NodeRed.local","broker":"192.168.100.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]